.container {
  width: 200px;
  margin: 0 auto;
  height: auto;
  border: 3px solid rgba(12, 8, 8, 0.925);
  border-radius: 0.5em;
  padding: 50px;
  justify-content: "center";
  align-content: "center";
}

body {
  margin: 30px 10px;
  padding: 0px;
  text-align: center;
  align-content: center;
  background-image: url("/images/img-1.jpg");
}
lable,
input {
  display: block;
  width: 200px;
  float: left;
  margin-bottom: 10px;
}

lable {
  text-align: left;
  width: 70px;
  padding-right: 10px;
}
button {
  margin: 10px;
  width: 70px;
  padding-inline-start: 10px;
  height: auto;
}

br {
  clear: left;
}
